@font-face {
  font-family: "DMSans";
  src: url("font/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("font/DMSans-Bold.ttf");
}
html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  width: 90%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-family: "DMSans";
  color: #D04F4F;
  margin-top: 0;
  font-weight: bold;
}

#search {
  position: relative;
  margin-bottom: 50px;
}
#search button {
  position: absolute;
  top: 7px;
  right: 0px;
  border: none;
  background-color: #E7E7E7;
}

#searchBar {
  width: 100%;
  padding: 15px;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
}
#searchBar:focus {
  outline: none;
}

#tags {
  margin-bottom: 50px;
}

.col {
  background-color: #D04F4F;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
}

.Img {
  height: 50%;
  background-color: #C7BEBE;
  height: 178px;
  border-radius: 5px;
}

.box {
  border-radius: 5px;
  background-color: #E7E7E7;
  width: 30%;
  padding: 0;
  margin-bottom: 20px;
  height: 360px;
}

#card {
  display: flex;
  justify-content: space-between;
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 90%;
  font-size: 18px;
}

.infoDown {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.infoDown .ingr {
  width: 40%;
}
.infoDown .ingr p {
  margin-bottom: -1px;
  line-height: 14px;
}
.infoDown .recipe {
  width: 40%;
}
.infoDown .recipe p {
  line-height: 12px;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.wrapper {
  width: fit-content;
}
.wrapper #container-ingredient input {
  background-color: #3282F7;
}
.wrapper #container-ingredient #box-ingr {
  background-color: #3282F7;
}
.wrapper #container-appliance input {
  background-color: #68D9A4;
}
.wrapper #container-appliance #box-apli {
  background-color: #68D9A4;
}
.wrapper #container-ustensils input {
  background-color: #ED6454;
}
.wrapper #container-ustensils #box-ust {
  background-color: #ED6454;
}
.wrapper .search-input {
  color: white;
  position: relative;
  border-radius: 10px;
}
.wrapper .search-input input {
  border: none;
  border-radius: 5px;
  padding: 20px;
}
.wrapper .search-input input::placeholder {
  color: white;
}
.wrapper .search-input input:focus {
  outline: none;
  width: 500px;
}
.wrapper .search-input .arrowDown {
  position: absolute;
  top: 25px;
  right: 10px;
  cursor: pointer;
  transform: rotate(180deg);
}
.wrapper .search-input .arrowUp {
  position: absolute;
  top: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
}
.wrapper .search-input .autocom-box {
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 400px;
  max-width: 500px;
  position: absolute;
  top: 61px;
  display: none;
}
.wrapper .search-input .autocom-box::after {
  display: flex;
}
.wrapper .search-input .autocom-box:focus {
  width: 500px;
}
.wrapper .search-input .autocom-box li {
  list-style: none;
  padding-left: 15px;
  cursor: default;
  width: 33.3%;
}

.autocom-box::-webkit-scrollbar {
  display: none;
}

#badge {
  padding-left: 0;
  margin-bottom: 12px;
  display: flex;
}
#badge .badge-ingr {
  background-color: #3282F7;
}
#badge .badge-apli {
  background-color: #68D9A4;
}
#badge .badge-ust {
  background-color: #ED6454;
}
#badge div {
  display: flex;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  color: white;
  margin-right: 15px;
}
#badge div p {
  padding-right: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
