@font-face{
    font-family: "DMSans";
    src: url("font/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DMSans-Bold";
    src: url("font/DMSans-Bold.ttf");
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: aqua;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: bisque;
}

h1{
    font-family: "DMSans";
    color: #D04F4F;
    margin-top: 0;
}

input{
    width: 100%;
    padding: 30px;
}