@font-face{
    font-family: "DMSans";
    src: url("font/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DMSans-Bold";
    src: url("font/DMSans-Bold.ttf");
}



@mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
}

html{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    width: 90%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1{
    font-family: "DMSans";
    color: #D04F4F;
    margin-top: 0;
    font-weight: bold;
}


#search{
    position: relative;
    margin-bottom: 50px;
    button{
        position: absolute;
        top: 7px;
        right: 0px;
        border: none;
        background-color: #E7E7E7;
    }
}

#searchBar{
    width: 100%;
    padding: 15px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    &:focus{
        outline: none;
    }
}


#tags{
    margin-bottom: 50px;
}

.col{
    background-color: #D04F4F;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
}

.Img{
    height: 50%;
    background-color: #C7BEBE;
    height: 178px;
    border-radius: 5px;
}

.box{
    border-radius: 5px;
    background-color: #E7E7E7;
    width: 30%;
    padding: 0;
    margin-bottom: 20px;
    height: 360px;
}

#card{
    display: flex;
    justify-content: space-between;
}

.Info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    font-size: 18px;
}

.infoDown{
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .ingr{
        width: 40%;
        p{
            margin-bottom: -1px;
            line-height: 14px;
        }
    }
    .recipe{
        width: 40%;
        // @include line-clamp(5, 1.23em);
        p{
            line-height: 12px;
        }
    }
}



input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


.wrapper{
    width: fit-content;
    #container-ingredient{
        input{
            background-color: #3282F7;
        }
        #box-ingr{
            background-color: #3282F7;
        }
    }
    #container-appliance{
        input{
            background-color: #68D9A4;
        }
        #box-apli{
            background-color: #68D9A4;
        }
    }#container-ustensils{
        input{
            background-color: #ED6454;
        }
        #box-ust{
            background-color: #ED6454;
        }
    }
    .search-input{
        color: white;
        position: relative;
        border-radius: 10px;
        input{
            border: none;
            border-radius: 5px;
            padding: 20px;
            outline: none;
            &::placeholder{
                color: white;
            }
        }
        .arrowDown{
            position: absolute;
            top: 25px;
            right: 10px;
            cursor: pointer;
            transform: rotate(180deg)
        }
        .arrowUp{
            position: absolute;
            top: 25px;
            right: 10px;
            cursor: pointer;
            display: none;
        }
        .autocom-box{
            overflow-y: auto;
            flex-wrap: wrap;
            max-height: 400px;
            max-width: 500px;
            position: absolute;
            top: 61px;
            display: none;
            li{
                list-style: none;
                padding-left: 15px;
                cursor: default;
                width: 33.3%;
            }
        }
    }
}



.autocom-box::-webkit-scrollbar {
    display: none;
}




#badge{
    padding-left: 0;
    margin-bottom: 12px;
    display: flex;
    .badge-ingr{
        background-color: #3282F7;
    }
    .badge-apli{
        background-color: #68D9A4;
    }
    .badge-ust{
        background-color: #ED6454;
    }
    div{
        display: flex;
        padding: 5px 15px 5px 15px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
        color: white;
        margin-right: 15px;
        p{
            padding-right: 20px;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }
    }
}

.width{
    width: 500px;
}
